@import '../styles/colors';
@import '../styles/mixins';

.projectContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	margin-top: 40px;
}

.projectImageContainer {
	width: auto;
	// height: 780px;
	margin-bottom: 24px;
	grid-column: 1/3;
}
.title {
	display: flex;
	justify-content: space-between;
	line-height: 25px;
	@include respond-to('medium') {
		grid-column: 1 / 3;
		margin-bottom: 16px;
	}
	& p {
		margin: 0;
	}
}
.projectDescription {
	@include respond-to('medium') {
		grid-column: 1 / 3;
	}
	grid-column: 2 / 3;
	line-height: 25px;
	margin-bottom: 60px;
}

.projectStills {
	@include respond-to('medium') {
		grid-column: 1 / 3;
	}
	grid-column: 2 / 3;
	& .projectStillsImageContainer {
		margin-bottom: 30px;
	}
}
