@import '../styles/colors';
@import '../styles/mixins';

.projectImageContainer {
	width: auto;
	// height: 780px;
	margin-bottom: 24px;
}
.title {
	display: flex;
	margin-bottom: 10px;
}
.projectDescription {
	display: flex;
}
