@import '../../styles/colors';
@import '../../styles/mixins';

.projectPreviewContainer {
  @include respond-to('medium') {
    grid-column: 1/3;
  }
  border: 1px solid rgba(255, 255, 255, 0.05);
  // width: 50%;
  & .projectImageContainer img {
    width: 100%;
    z-index: 299;
    // height: 388px;
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
}
.projectPreviewContainerFull {
  grid-column: 1/3;
  padding-left: 0;
  padding-right: 0;
  // width: 100%;
  & .projectImageContainer {
    width: 100%;
  }
}

.linkContainer {
  color: $white;
}

.playerWrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bannerProjectText {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerProjectText:hover .bannerProjectTextP {
  -webkit-transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  -o-transform: skewX(-10deg);
  transform: skewX(-10deg);
  opacity: 0;
}

.bannerProjectTextP {
  font-size: 18px;
  color: $white;
  -moz-transition: all 400ms;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: transform 400ms, opacity 400ms 0.4s;
}
