@import '../../styles/colors';
@import '../../styles/mixins';

.projectPreviewContainerFull {
	grid-column: 1/3;
	& .projectImageContainer img {
		width: 100%;
	}
}

.projectPreviewContainerHalfFirst {
	padding-right: 10px;
}

.projectPreviewContainerHalfSecond {
	padding-left: 10px;
}
.linkContainer {
	color: $white;
}
