@import '../../styles/colors';
@import '../../styles/mixins';

.projectPreviewContainer {
	// width: 50%;
	& .projectImageContainer picture img {
		// width: 100%;
		height: 388px;
	}
}
.projectPreviewContainerFull {
	grid-column: 1/3;
	padding-left: 0;
	padding-right: 0;
	// width: 100%;
	& .projectImageContainer {
		width: 100%;
	}
}

.linkContainer {
	color: $white;
}
